*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  background-color:cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card{
  height: 400px;
  width: 280px;
  border-radius: 20px;
  background-color: aliceblue;
  text-align: center;
}
#card img {
  height: 60%;
  width: 100%;
  border-radius: 40px;
  padding: 30px 30px;
  object-fit: cover;
  object-position: center;
}
#card h1{
  font-size: 35px;
  font-weight: 900;
}
#card h5{
  font-size: 20px;
  padding: 10px 10px;
  font-weight: 600;
}
#card button{
  padding: 10px 10px;
  background-color: royalblue;
  border-radius: 10px;
  color:white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 5px;
}

